* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    /* padding: 100px; */
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.showcase img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

.container {
    width: 100%;
    height: auto;
    top: 45%;
    left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.container h1 {
    font-size: 10vh;
    opacity: 0.1;
}

/* nav */
/* nav */
/* nav */
/* nav */
/* nav */

.flexbox {
    display: flex;
}

li {
    display: flex;
      /* justify-content: space-evenly; */
}

.red {
    height: 50px;
    display: flex;
    flex-grow: 1;
}
.red li {
    color: white;
    margin-top: 20px;
    margin-left: 30px;
}

.blue {
    height: 50px;
    /* display: flex; */
}

.blue li {
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: auto;
    margin-left: 20px;
    /* display: flex; */
    /* justify-content: flex-end; */
    font-size: 5vh;
}